<div class="limiter">
	<div class="container-form100">
		<div class="wrap-form100 p-l-50 p-r-50 p-t-50 p-b-30">
			<!--<form class="form100-form validate-form">-->
				<span class="form100-form-title p-b-35">
					Editar Perfil
				</span>

				<form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm)">
					<div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" name="fullName" #name="ngModel" [(ngModel)]="fullName" placeholder="Nome Completo" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-license"></span>
                        </span>
                    </div>

					<div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="tel" name="phone" #name="ngModel" [(ngModel)]="phone" placeholder="Contacto Telefónico" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-smartphone"></span>
                        </span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" name="address" #name="ngModel" [(ngModel)]="address" placeholder="Morada" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-home"></span>
                        </span>
					</div>

                    <div class="container-register100-form-btn p-t-15">
                        <button class="form100-form-btn"  type="submit">
                            Alterar Perfil
                        </button>
                    </div>
                </form>
		</div>
	</div>
</div>