/* ---------------------------------
1. COMMONS FOR PAGE DESIGN
--------------------------------- */
body h1, h2, h3, h4, h5, h6, b{
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li, .fotoLabel {
	color: #545454;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.userType {
	color:#6A4D8A;
	font-weight: bold;
}

.section{ padding: 100px 0 50px; }

.section .heading{ margin-bottom: 60px; }

.section .heading:before{ content:''; height: 10px; width: 50px; border-radius: 5px;
	margin-bottom: 20px; display: block; background: #222f36; }

.margin-t-10{ margin-top: 10px; }

.margin-b-30{ margin-bottom: 30px; }
.margin-b-50{ margin-bottom: 50px; }

.margin-tb-30{ margin-top: 30px; margin-bottom: 30px; }

.profile {
	height: 200px; width: 200px; border-radius: 100px; margin: 0 auto; 
	position: relative; top: -100px; margin-bottom: -60px;
}
.profile:hover .overlay {
	background-color: rgba(0, 0, 0, 0);
}
.profile:hover .overlay p {
	display: block;
}
.profile img {
	display: block;
	width: 100%;
	border-radius: 50%;
	height: auto;
}
.profile .overlay {
	position: relative;
	width: 100%;
	bottom: 0;
	overflow: hidden;
	height: 100%;
	border-radius: 50%;
}
.profile .overlay input {
	width: 100%;
	position: relative;
	opacity: 0;
	bottom: 20px;
	z-index: 2;
	cursor: pointer;
}
.profile .overlay p {
	position: absolute;
	bottom: 10px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	width: 100%;
	display: none;
}

.pic-container{
	cursor: pointer;
	overflow: hidden;
	align-self: center;
	position: relative;
	margin: 0 auto; 
	top: -50px;
	margin-bottom: -20px;
}

.pic{
	width: 100%;
	height: 100%;
	display: block;
}

.pic-container.pic-xs{
	width: 50px;
	height: 50px;
}

.pic-container.pic-small{
	width: 70px;
	height: 70px;
}

.pic-container.pic-medium{
	width: 150px;
	height: 150px;
}

.pic-container.pic-large{
	width: 250px;
	height: 250px;
}


.pic-container.pic-xl{
	width: 350px;
	height: 350px;
}

.pic-container.pic-circle{
	border-radius: 50%;
}

.pic-overlay{
	background-color: #ccc;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

}

.pic-container:hover .pic-overlay{
	top: -100%;
}

.pic-overlay a{
	display: block;
	padding: 10px;
}

.pic-xs .pic-overlay a{
	padding: 5px;
}

.pic-overlay .fa-window-close-o{
	color: red;
}

.pic-overlay .fa-pencil-square-o{
	color: blue;
}

.pic-medium .pic-overlay a i{
	font-size: 20px;
}

.pic-large .pic-overlay a i{
	font-size: 35px;
}

.pic-xl .pic-overlay a i{
	font-size: 45px;
}  

/* ---------------------------------
4. INTRO SECTION
--------------------------------- */

.intro-section{ padding-top: 100px; position: relative; background-size: cover; 
	z-index: 1;background-color: #222f36; }

.intro-section:before{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0; 
	right: 0; background: rgba(0,0,0, .2); }
	
.intro-section:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
	height: 100px; z-index: -1; background: #fff; }

.intro{ padding: 0 20px; margin-top: 50px; text-align: center; background: #fff; }

.intro .profile-img{ height: 200px; width: 200px; border-radius: 100px; margin: 0 auto; 
	overflow: hidden; position: relative; top: -100px; margin-bottom: -60px;  }

.intro .information > li{ display: block; margin: 5px 0; }



/* ---------------------------------
6. PORFOLIO SECTION
--------------------------------- */

.portfolio-section{ position: relative; }

.portfolio-section .portfolioFilter{ margin-top: 60px; color: #545454; }

.portfolio-section .portfolioFilter a{ margin: 10px 10px 0 0; }

.portfolio-section .portfolioFilter a.current{ color: #222f36; }

.portfolio-section .portfolioContainer{ margin-left: -15px; margin-right: -15px; }

.portfolio-section .p-item{ width: 25%; padding: 0 7.5px 0px; margin-top: 15px; }

.portfolio-section .p-item a{ display: inline-block; position: relative; }

.img-frame{
	height: 300px;
	width: 300px;
}

@media (min-width: 576px) {
	.main {
		margin-bottom: 30%;
	}
}

@media (min-width: 768px) {
	.main {
	  margin-bottom: 25%;
	}
}

@media (min-width: 992px) {
	.main {
	  margin-bottom: 15%;
	}
}

@media (min-width: 1200px) {
	.main {
	  margin-bottom: 10%;
	}
}