<div class="main" *ngIf="user">
  <section class="intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">
          <div class="intro rounded">
            <div class="pic-container pic-medium pic-circle">
              <img class="pic" src={{user.photoPath}} height= "200px" width="200px" alt="">
              <div class="pic-overlay" style="overflow: hidden; display: block; margin-top: 50px; margin-left: 2px;">
                <input type="file" name="filename" (change)=onSelectFile($event)>
                <p>Alterar foto</p>
              </div>
            </div>
            <h2><b>{{user.fullName}}</b></h2>
            <p class="userType">{{ userType }}</p>
            <!--<h4 *ngIf="user.userType == 'volunteer'">Voluntário</h4>-->
            <br>
            <ul class="information margin-tb-50">
              <li><b>Data de Nascimento : </b>{{formatedBirthDate}}</li>
              <li><b>Email : </b>{{user.email}}</li>
              <li><b>Telemóvel : </b>{{user.phone}}</li>
              <li><b>Morada : </b>{{user.address}}</li>
            </ul>
            <button class="btn btn-success" style="margin-top: 2%;" type="submit" [routerLink]="['/editProfile']">
              Editar perfil
            </button>
          </div><!-- intro -->
        </div><!-- col-sm-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </section><!-- intro-section -->

  <section class="portfolio-section section" *ngIf="showPortfolioSection">
    <div class="container rounded">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <div class="heading" style="margin-bottom: -5px">
            <h3><b>{{tableTitle}}</b></h3>
          </div>
        </div><!-- col-sm-3 -->
      </div><!-- row -->

      <app-volunteering-history-list></app-volunteering-history-list>
      <!-- portfolioContainer -->

    </div><!-- container -->
  </section><!-- portfolio-section -->
  
  <div class="container" style="margin-top: 60px; margin-bottom: 50px;">
    <div class="row">
      <div class="col" align="center">
        <form name = "formName" class="form100-form validate-form" #deleteForm="ngForm" (ngSubmit)="onSubmit(deleteForm)">
          <button class="btn btn-danger" type="submit" [disabled]="!deleteForm.valid">
            Apagar a conta
          </button>
        </form>
      </div>
    </div>
  </div>
</div>