<div class="limiter">
	<div class="container-form100">
		<div class="wrap-form100 p-l-50 p-r-50 p-t-77 p-b-30">
			<form class="form100-form validate-form">
				<span class="form100-form-title p-b-55">
					Nova Palavra-Passe
				</span>

				<div class="wrap-input100 validate-input m-b-16">
					<input class="input100" type="text" name="novaPasse" placeholder="Nova Palavra-Passe">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
					</span>
				</div>
				
				<div class="wrap-input100 validate-input m-b-16">
					<input class="input100" type="text" name="confirmarPasse" placeholder="Confirmar Palavra-Passe">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
					</span>
				</div>

				<div class="container-form100-form-btn p-t-10">
					<button class="form100-form-btn">
						Definir Palavra-Passe
					</button>
				</div>

				<div class="text-center w-full p-t-100">
					<a class="txt1 bo1 hov1" href="#">
						Voltar
					</a>
				</div>
			</form>
		</div>
	</div>
</div>