<section class="page-section" style="background-color: #eaecf0;">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="form_main">
                    <a class="title" style="color: #F1D204;"> Criar Voluntariado <span></span></a>
                    <div class="form">
                        <form #volForm = "ngForm" (ngSubmit)="onSubmit(volForm)">
                            <div class="form-group">
                                <input type="text" class="form-control" name="voluntaryName" #name="ngModel" [(ngModel)]="voluntaryName" placeholder="Nome do voluntariado*" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="entityName" #name="ngModel" [(ngModel)]="entityName" placeholder="Nome da entidade responsável*" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="area" #name="ngModel" [(ngModel)]="area" placeholder="Área de Intervenção*" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="place" #search [formControl]="searchControl" autocomplete="off" autocapitalize="off" spellcheck="off" placeholder="Morada*" required>
							</div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="activityDescription" #name="ngModel" [(ngModel)]="activityDescription" placeholder="Descrição das atividades*" required>
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control" name="description" #name="ngModel" [(ngModel)]="description" placeholder="Descrição*" required></textarea>
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control" name="goals" #name="ngModel" [(ngModel)]="goals" placeholder="Objetivos"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="targetAudience" #name="ngModel" [(ngModel)]="targetAudience" placeholder="Publico alvo (Beneficiários)*" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="date" name="date" [min]="minDate" #name="ngModel" [(ngModel)]="date" required>
                                <p>Data Prevista para início do voluntariado</p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="entitiesInvolved" #name="ngModel" [(ngModel)]="entitiesInvolved" placeholder="Outras entidades envolvidas">
                                <p>Exemplo: entidade 1; entidade 2;</p>
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control" name="observations" #name="ngModel" [(ngModel)]="observations" placeholder="Observações"></textarea>
                            </div>
                            <div class="hidden-box form-group">
                                <label><strong>Exigência de formação específica</strong></label>
                                <label class="switch">
                                    <input type="checkbox" class="checkbox" id="check1" (change)="showHiddenBox($event)">
                                    <span class="slider round"></span>
                                </label>
                                <input class="form-control" id="check1TextInput" type="text" name="specificTraining" style="display: none;"
                                        #name="ngModel" [(ngModel)]="specificTraining" placeholder="Que tipo de formação?">
                            </div>
                            <div class="form-group">
                                <label><strong>Em que áreas necessita de voluntários*</strong></label>
                                <div *ngFor="let a of areas; let i = index" [attr.data-index]="i">
                                    <input type="checkbox" id="area{{i}}" value="{{ a }}" style="margin-left: 15px;" name="voluntary_areas" #name="ngModel" [ngModel]="voluntary_areas"> {{ a }}<br>
                                </div>
                                <input type="checkbox" id="check2" value="Outro" 
                                        (change)="showHiddenBox($event)" style="margin-left: 15px;"> Outro <br>
                                <input class="form-control" id="check2TextInput" type="text" 
                                        style="display: none; margin-left: 30px;" placeholder="Outra área">
                            </div>
                            <div class="form-group">
                                <label><strong>Autorização RGPD</strong></label>
                                <br>
                                <input type="checkbox" name="RGPD" #name="ngModel" [(ngModel)]="RGPD" required class="form-check-input">
                                Consinto, ao abrigo do Regulamento Geral de Proteção de Dados (RGPD), a utilização dos dados fornecidos no formulário, 
                                ficando informado/a do direito a retirar o consentimento a qualquer momento e que o tratamento de dados é da 
                                responsabilidade do IPS, sendo-lhe aplicada a Política de Proteção de Dados do IPS 
                                (disponível <a href="http://www.si.ips.pt/ips_si/web_base.gera_pagina?P_pagina=40723">aqui</a>).
                            </div>

                            <button class="btn btn-warning"  type="submit" [disabled]="!volForm.valid">
                                Submeter Proposta
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
