<div class="limiter">
	<div class="container-form100">
    <div class="jumbotron" class="background: rgba(0,0,0,0.5)">
      <span class="form100-form-title p-b-10" style="color: #222f36;">
        {{message1}}
      </span>
      <hr class="my-4">
      <h5 style="color: #222f36; text-align: center;">{{message2}}</h5>
      <br>
      <div class="container-form100-form-btn p-t-15">
        <button class="form33-form-btn" routerLink="/login" routerLinkActive="active" style="margin-right: 5%;">
          Continuar 
        </button>
      </div>
    </div>

	</div>
</div>