<section class="page-section" style="background-color: #eaecf0;">
    <div class="container">  
        <div class="row">
            <div class="col-md-10">
                <div class="form_main">
                    <a class="title" style="color: #F1D204;"> Registo Entidade <span></span></a>
                    <div class="form">
                        <form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm)">
							<!--Nome da Entidade-->
							<div class="form-group">
                                <input type="text" class="form-control" name="nome" #name="ngModel" [(ngModel)]="nome" placeholder="Nome da Entidade*" required>
							</div>
							<!--Descrição-->
							<div class="form-group">
                                <input type="text" class="form-control" name="description" #name="ngModel" [(ngModel)]="description" placeholder="Descrição da Entidade*" required>
							</div>
							<!--Nome Completo-->
                            <div class="form-group">
                                <input type="text" class="form-control" name="fullName" #name="ngModel" [(ngModel)]="fullName" placeholder="Nome Completo*" required>
							</div>
							<!--Email-->
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" #name="ngModel" [(ngModel)]="email" placeholder="Email*" required>
							</div>
							<!--Telemóvel-->
                            <div class="form-group">
                                <input type="tel" class="form-control" name="phone" #name="ngModel" [(ngModel)]="phone" placeholder="Contacto Telefónico*" required>
							</div>
							<!--Morada-->
                            <div class="form-group">
                                <input type="text" class="form-control" id="place" #search [formControl] = "searchControl" autocomplete="off" autocapitalize="off" spellcheck="off" placeholder="Morada*" required>
							</div>
							<!--Data de Nascismento-->
                            <div class="form-group">
                                <input class="form-control" type="date" name="birthDate" [min]="minDate" [max]="maxDate" #name="ngModel" [(ngModel)]="birthDate" placeholder="Data de Nascimento*" required>
                                <p>Data de nascimento*</p>
							</div>
							<!--Password-->
							<div class="form-group">
                                <input type="password" class="form-control" name="password" #name="ngModel" [(ngModel)]="password" placeholder="Palavra-Passe*" required>
							</div>
							<!--Password Confirm-->
							<div class="form-group">
                                <input type="password" class="form-control" name="passConfirmed" #name="ngModel" [(ngModel)]="passwordConfirmed" placeholder="Confirmar Palavra-Passe*" required>
							</div>							
                            <button class="btn btn-warning"  type="submit" [disabled]="!userForm.valid">
                                Registar
                            </button>
                            <p>Campos com o símbolo * são de preenchimento obrigatório!</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
