
<section class="page-section" style="background-color: #eaecf0;">
    <div class="container">  
        <div class="row">
            <div class="col-md-10">
                <div class="form_main">
                    <a class="title" style="color: #F1D204;"> Registo Voluntário <span></span></a>
                    <div class="form">
                        <form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm)">
							<!--Nome Completo-->
                            <div class="form-group">
                                <input type="text" class="form-control" name="fullName" #name="ngModel" [(ngModel)]="fullName" placeholder="Nome Completo*" required>
							</div>
							<!--Email-->
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" #name="ngModel" [(ngModel)]="email" placeholder="Email*" required>
							</div>
							<!--Telemóvel-->
                            <div class="form-group">
                                <input type="tel" class="form-control" name="phone" minlength="9" maxlength="16" #name="ngModel" [(ngModel)]="phone" placeholder="Contacto Telefónico*" required>
							</div>
							<!--Morada-->
                            <div class="form-group">
                                <input type="text" class="form-control" id="place" #search [formControl] = "searchControl" autocomplete="off" autocapitalize="off" spellcheck="off" placeholder="Morada*" required>
							</div>
							<!--Data de Nascismento-->
                            <div class="form-group">
                                <input class="form-control" type="date" name="birthDate" [min]="minDate" [max]="maxDate" #name="ngModel" [(ngModel)]="birthDate" placeholder="Data de Nascimento*" required>
                                <p>Data de nascimento*</p>
							</div>
                            <!--Membro da Comunidade IPS-->
                            <div class="form-group">
                                <label><strong>Membro da Comunidade IPS*</strong></label>
                                <div *ngFor="let a of membros; let i = index" [attr.data-index]="i">
                                    <input type="radio" id="membro{{i}}" value="{{ a }}" style="margin-left: 15px;" name="typeOfMember" #name="ngModel" [ngModel]="typeOfMember"> {{ a }}<br>
                                </div>
                            </div>
							<!--Escola/Serviço-->
                            <div class="form-group" style="margin-top: 15px;">
                                <label><strong>Escola/Serviço*</strong></label>
                                <div *ngFor="let a of escolasServicos; let i = index" [attr.data-index]="i" >
                                    <input type="radio" id="escolasservico{{i}}" value="{{ a }}" style="margin-left: 15px;" (change)="getSelectedEscolaServico()" name="schoolService" #name="ngModel" [ngModel]="schoolService"> {{ a }}<br>
                                </div>
                            </div>    
                            <!--Curso/Formação em-->
                            <div class="form-group" style="margin-top: 15px;">
                                <label><strong>Curso/Formação em*</strong></label>
                                <select name="course" #name="ngModel" [(ngModel)]="course" class="form-control" >
                                    <option disabled>-- Selecione o curso que frequenta --</option>
                                    <option *ngFor="let a of selectCursos" value="{{ a }}">{{ a }}</option>
                                </select>
                            </div>                           							                           
							<!--Áreas de Interesse-->
                            <div class="form-group">
                                <label><strong>Áreas de Interesse*</strong></label>
                                <div *ngFor="let a of areas; let i = index" [attr.data-index]="i">
                                    <input type="checkbox" id="area{{i}}" value="{{ a }}" style="margin-left: 15px;" name="interestAreas" #name="ngModel" [ngModel]="interestAreas"> {{ a }}<br>
                                </div>
                                <input type="checkbox" id="check2" value="Outro" 
                                        (change)="showHiddenBox($event)" style="margin-left: 15px;"> Outro <br>
                                <input class="form-control" id="check2TextInput" type="text" 
                                        style="display: none; margin-left: 30px;" placeholder="Outra área">
                            </div>
							<!--Indique a(s) razão(ões) para querer ser voluntário-->
							<div class="form-group">
                                <label><strong>Indique a(s) razão(ões) para querer ser voluntário*</strong></label>
                                <div *ngFor="let a of razoes; let i = index" [attr.data-index]="i">
                                    <input type="checkbox" id="razao{{i}}" value="{{ a }}" style="margin-left: 15px;" name="reasonsVolunteer" #name="ngModel" [ngModel]="reasonsVolunteer"> {{ a }}<br>
                                </div>
                                <input type="checkbox" id="check3" value="Outro" 
                                        (change)="showHiddenBox($event)" style="margin-left: 15px;"> Outro <br>
                                <input class="form-control" id="check3TextInput" type="text" 
                                        style="display: none; margin-left: 30px;" placeholder="Outra área">
                            </div>
							<!--Observações-->
                            <div class="form-group">
                                <input type="text" class="form-control" name="observations" #name="ngModel" [(ngModel)]="observations" placeholder="Observações">
							</div>
							<!--Password-->
							<div class="form-group">
                                <input type="password" class="form-control" name="password" #name="ngModel" [(ngModel)]="password" placeholder="Palavra-Passe*" required>
							</div>
							<!--Password Confirm-->
							<div class="form-group">
                                <input type="password" class="form-control" name="passConfirmed" #name="ngModel" [(ngModel)]="passwordConfirmed" placeholder="Confirmar Palavra-Passe*" required>
                            </div>                            						

                            <div class="form-group">
                                <label><strong>Autorização RGPD*</strong></label>
                                <br>
                                <input type="checkbox" name="RGPD" #name="ngModel" [(ngModel)]="RGPD" class="form-check-input" required>
                                Consinto, ao abrigo do Regulamento Geral de Proteção de Dados (RGPD), a utilização dos meus dados pessoais, 
                                fornecidos no formulário, ficando informado/a do direito a retirar o consentimento a qualquer momento e que 
                                o tratamento de dados é da responsabilidade do IPS, sendo-lhe aplicada a Política de Proteção de Dados do IPS
                                (disponível <a href="http://www.si.ips.pt/ips_si/web_base.gera_pagina?P_pagina=40723">aqui</a>).
                            </div>

                            <button class="btn btn-warning"  type="submit" [disabled]="!userForm.valid">
                                Registar
                            </button>
                            <p>Campos com o símbolo * são de preenchimento obrigatório!</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





