<mat-form-field floatLabel="never">
  <mat-label class="">Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>
<div class="mat-elevation-z8 full-width-table">
  <table mat-table class="data-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="voluntaryName" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Nome</th>
      <td mat-cell *matCellDef="let row"><a href="" [routerLink]="['/voluntaryProfile', row._id]" style="font-size: 20px; font-weight: bold;">{{row.voluntaryName}}</a></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Descrição</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <ng-container matColumnDef="voluntary_areas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Áreas de Interesse</th>
      <td mat-cell *matCellDef="let row">{{row.voluntary_areas}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Data</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 15]">
  </mat-paginator>
</div>
