<mat-form-field floatLabel="never">
  <mat-label class="">Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<div class="mat-elevation-z8 full-width-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Nome de utilizador</th>
      <td mat-cell *matCellDef="let row"><a href="" [routerLink]="['/profile', row.userId]">{{row.username}}</a></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="voluntaryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Nome de voluntariado</th>
      <td mat-cell *matCellDef="let row"><a href="" [routerLink]="['/proposalProfile', row.id]">{{row.voluntaryName}}</a></td>
    </ng-container>

    <ng-container matColumnDef="submissionDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Data de submissão</th>
      <td mat-cell *matCellDef="let row">{{row.submissionDate}}</td>
    </ng-container>
    
    <ng-container matColumnDef="accept">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header"></th>
      <td mat-cell *matCellDef="let row"><button class="btn btn-primary standard-button" (click)="onAccept(row)">Aceitar</button></td>
    </ng-container>

    <ng-container matColumnDef="refuse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header"></th>
      <td mat-cell *matCellDef="let row"><button class="btn btn-danger" (click)="onReject(row)">Recusar</button></td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  
  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 15]">
  </mat-paginator>
</div>
