.full-width-table {
  width: 100%;
}

.data-table{
  width: 100%;
  margin: 20px auto;
}

.custom-table-header{
  background-color: #222f36;
  color: white;
}

.standard-button{
  background-color: #6a4d8a;
  border-color: #6a4d8a;
}

.input-field{
  width: 25%;
  background-color: #222f36;
  color: white
}

.filter{
  background-color: #222f36;
  color: white
}

.mat-column-username {
  padding: 0% 1% 0% 1%;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-voluntaryName {
  padding: 0% 1% 0% 1%;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-submissionDate {
  padding: 0% 1% 0% 1%;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-accept {
  padding: 0% 1% 0% 1%;
  flex: 0 0 7.5% !important;
  width: 7.5% !important;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-refuse {
  padding: 0% 1% 0% 1%;

  flex: 0 0 10% !important;
  width: 10% !important;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}