<mat-form-field floatLabel="never">
  <mat-label class="">Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>
<div class="mat-elevation-z8 full-width-table">
  <table mat-table class="data-table" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Nome</th>
      <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Contato Telefónico</th>
      <td mat-cell *matCellDef="let row">{{row.phone}}</td>
    </ng-container>

    <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header"></th>
        <td mat-cell *matCellDef="let row"><button (click)="openProfile(row._id)" class="btn btn-primary standard-button">Abrir</button></td>
    </ng-container>

    <ng-container  matColumnDef="suspend">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header class="custom-table-header"></th>
        <td mat-cell *matCellDef="let row"><button (click)="suspendProfile(row._id)" *ngIf="isAdmin" class="btn btn-warning">Suspender</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 15]">
  </mat-paginator>
</div>
