<!--Section: Contact v.1-->
<section class="section pb-5 page-section" style="margin-top: 100px;" >
    <!--Section heading-->
    <div class="row" style="margin-top: -200px; width: 95%; margin-left: 2.5%;">
        <!--Grid column-->
        <div class="col-lg-5 mb-4">
            <!--Form with header-->
            <div class="card-body">
                <!--Header-->
                <div class="form-header blue accent-1" style="margin-top: 80px;"> <!--Nome do voluntariado-->
                    <h1 class="display-4" style="color: #F1D204;"> {{title}}  {{date}}</h1>
                </div>
                <br>
                <!--Body-->
                <div class="md-form"> <!--Descrição-->
                    <p> {{text}}</p>
                </div>
            </div>
        </div>
        <!--Grid column-->
    </div>
</section>
<!--Section: Contact v.1-->
