<!-- Footer-->
<footer class="footer py-4">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-4 text-lg-left">Copyright © Gestão de Projetos EI IPS</div>
          <div class="col-lg-4 my-3 my-lg-0">
              <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/IPSsetubal"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/ipsetubal"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/school/instituto-politecnico-de-setubal/"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <div class="col-lg-4 text-lg-right"><a class="mr-3">Sobre Nós</a><a >Contactos</a></div>
      </div>
  </div>
</footer>