<section class="page-section" style="background-color: #eaecf0;">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="form_main">
                    <a class="title" style="color: #F1D204;"> Editar Proposta <span></span></a>
                    <div class="form">
                        <form #propForm = "ngForm" (ngSubmit)="onSubmit(propForm)">
                            <div class="form-group">
                                <input type="text" class="form-control" name="voluntaryName" #name="ngModel" [(ngModel)]="voluntary.voluntaryName" placeholder="Nome do voluntariado*" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="activityDescription" #name="ngModel" [(ngModel)]="voluntary.activityDescription" placeholder="Descrição das atividades*" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="area" #name="ngModel" [(ngModel)]="voluntary.area" placeholder="Área de Intervenção*" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="targetAudience" #name="ngModel" [(ngModel)]="voluntary.targetAudience" placeholder="Publico alvo (Beneficiários)*" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="date" name="date" [min]="minDate" #name="ngModel" [(ngModel)]="voluntary.date" required>
                                <p>Data Prevista para início do voluntariado*</p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="entitiesInvolved" #name="ngModel" [(ngModel)]="entitiesInvolved" placeholder="Outras entidades envolvidas" required>
                                <p>Exemplo: entidade 1; entidade 2;</p>
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control" name="description" #name="ngModel" [(ngModel)]="voluntary.description" placeholder="Resumo do Projeto/Atividade*" required></textarea>
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control" name="goals" #name="ngModel" [(ngModel)]="voluntary.goals" placeholder="Objetivos"></textarea>
                            </div>

                            <div class="hidden-box form-group">
                                <label><strong>Exigência de formação específica</strong></label>
                                <label class="switch">
                                    <input type="checkbox" class="checkbox" id="check1" (change)="showHiddenBox($event)">
                                    <span class="slider round"></span>
                                </label>
                                <input class="form-control" id="check1TextInput" type="text" name="specificTraining" style="display: none;"
                                        #name="ngModel" [(ngModel)]="voluntary.specificTraining" placeholder="Que tipo de formação?">
                            </div>

                            <!--fefeefsssss\------------------------------------------------------------------------------------------->
                            <div class="form-group">
                                <label><strong>Em que áreas necessita de voluntários*</strong></label>
                                <div *ngFor="let a of areas; let i = index" [attr.data-index]="i">
                                    <input type="checkbox" id="area{{i}}" value="{{ a }}" style="margin-left: 15px;" name="voluntary_areas" #name="ngModel" [ngModel]="voluntary.voluntary_areas"> {{ a }}<br>
                                </div>
                                <input type="checkbox" id="check2" value="Outro" 
                                        (change)="showHiddenBox($event)" style="margin-left: 15px;"> Outro <br>
                                <input class="form-control" id="check2TextInput" type="text" 
                                        style="display: none; margin-left: 30px;" placeholder="Outra área">
                            </div>

                            <div class="form-group">
                                <textarea type="text" class="form-control" name="observations" #name="ngModel" [(ngModel)]="voluntary.observations" placeholder="Observações"></textarea>
                            </div>

                            <div class="form-group">
                                <label><strong>Autorização RGPD*</strong></label>
                                <br>
                                <input type="checkbox" name="RGPD" #name="ngModel" [(ngModel)]="RGPD" class="form-check-input" required>
                                Consinto, ao abrigo do Regulamento Geral de Proteção de Dados (RGPD), a utilização dos dados fornecidos no formulário, 
                                ficando informado/a do direito a retirar o consentimento a qualquer momento e que o tratamento de dados é da 
                                responsabilidade do IPS, sendo-lhe aplicada a Política de Proteção de Dados do IPS 
                                (disponível <a href="http://www.si.ips.pt/ips_si/web_base.gera_pagina?P_pagina=40723">aqui</a>).
                            </div>

                            <button class="btn btn-warning"  type="submit" [disabled]="!propForm.valid">
                                Submeter Proposta
                            </button>
                            <p>Campos com o símbolo * são de preenchimento obrigatório!</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
