<div class="limiter">
	<div class="container-form100">
    <div class="jumbotron" class="background: rgba(0,0,0,0.5)">
      <span class="form100-form-title p-b-10" style="color: #222f36;">
        Seleção de tipo de registo
      </span>
      <hr class="my-4">
      <h5 style="color: #222f36; text-align: center;">Selecione 1 das 2 opções de registo abaixo, será redirecionado para o respetivo formulário</h5>
      <br>
      <div class="container-form100-form-btn p-t-15">
        <button class="form33-form-btn" routerLink="/register" routerLinkActive="active" style="margin-right: 5%;">
          Voluntário 
        </button>
        <button class="form33-form-btn" routerLink="/registerEntidade" routerLinkActive="active">
          Entidade Organizadora 
        </button>
      </div>
    </div>

	</div>
</div>