<section class="page-section" id="Registers">
    <div class="container">
      <div class="text-center m-b-50 m-t-50">
        <h2 class="section-heading text-uppercase">
          Lista de Utilizadores no Sistema
        </h2>
      </div>
      <hr class="m-b-25" />
      <app-users-list></app-users-list>
    </div>
  </section>
  