<section class="page-section" id="Registers">
    <div class="container">
        <div class="text-center m-b-50 m-t-50">
            <h2 class="section-heading text-uppercase">Estatísticas de Administrador</h2>
        </div>
        <hr class="m-b-25">
        <h3 class="section-subheading text-muted">Número médio de voluntários inscritos por voluntariado: {{averageVolunteersByJob}}</h3>
        <h3 class="section-subheading text-muted">Áreas de Voluntariado:</h3>
        <app-stats-voluntariados></app-stats-voluntariados>
        <h3 class="section-subheading text-muted">Distribuição de estados das propostas de Voluntariado (em %):</h3>
        <app-stats-voluntaries-state></app-stats-voluntaries-state>
    </div>
</section>