<section class="page-section" id="Registers">
    <div class="container">
        <div class="text-center m-b-50 m-t-50">
            <h2 class="section-heading text-uppercase">Voluntariados disponíveis para candidatura</h2>
        </div>
        <hr class="m-b-25">
        <app-volunteering-jobs-list></app-volunteering-jobs-list>
    </div>
</section>