<div class="limiter">
	<div class="container-form100">
		<div class="wrap-form100 p-l-50 p-r-50 p-t-77 p-b-30">
			<form class="form100-form validate-form" #loginForm="ngForm" (submit)="onSubmit(loginForm)">
				<span class="form100-form-title p-b-55">
					Login
				</span>

				<div class="wrap-input100 validate-input m-b-16">
					<input class="input100" type="text" [(ngModel)]="email" name="email" placeholder="Email">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-envelope"></span>
					</span>
				</div>

				<div class="wrap-input100 validate-input m-b-16">
					<input class="input100" type="password" [(ngModel)]="password" name="password" placeholder="Palavra-Passe">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
					</span>
				</div>

				<div class="container-form100-form-btn p-t-15">
					<button class="form100-form-btn">
						Login
					</button>
				</div>

				<div class="text-center w-full p-t-15">
					<a routerLink="/recupPass" routerLinkActive="active" class="txt1 bo1 hov1">
						Recuperar palavra-passe				
					</a>
				</div>

				<div class="text-center w-full p-t-100">
					<a routerLink="/registerChoice" routerLinkActive="active" class="txt1 bo1 hov1">
						Ainda não está registado?
					</a>
				</div>
			</form>
		</div>
	</div>
</div>