<mat-form-field floatLabel="never" style="margin-bottom: -10px; margin-left: 10%; margin-top: 2%;">
    <mat-label class="">Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  <button type="button" class="btn btn-danger" style="display: table; float: right; margin-right: 10%; margin-top: 3%;" *ngIf="isAdmin" (click)="delete()">Apagar Voluntariado</button>
  <button type="button" class="btn btn-warning" style="display: table; float: right; margin-right: 10%; margin-top: 3%;" *ngIf="isVolunteer && isInvolved" (click)="deroll()">Desinscrever</button>
  <button type="button" class="btn btn-warning" style="display: table; float: right; margin-right: 10%; margin-top: 3%;" *ngIf="isVolunteer && !isInvolved" (click)="enroll()">Inscrever</button>
  <div class="mat-elevation-z8 full-width-table">
    <table mat-table class="data-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Nome</th>
        <td mat-cell *matCellDef="let row"><a href="" [routerLink]="['/profile', row.id]">{{row.name}}</a></td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>
  
      <ng-container matColumnDef="typeOfMember">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Tipo de membro</th>
        <td mat-cell *matCellDef="let row">{{row.typeOfMember}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Curso</th>
        <td mat-cell *matCellDef="let row">{{row.course}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="5"
        [pageSizeOptions]="[5]">
    </mat-paginator>
  </div>
  