<div class="chartsMargins">
<ngx-charts-pie-chart *ngIf="data.length > 0"
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [legendTitle]="legendTitle"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
        >
    </ngx-charts-pie-chart >
</div>