<section class="page-section" id="Registers">
    <div class="container">
        <div class="text-center m-b-50 m-t-50">
            <h2 class="section-heading text-uppercase">Propostas para participar em Voluntariados</h2>
        </div>
        <hr class="m-b-25">
        <app-received-proposals-list></app-received-proposals-list>
    </div>
</section>