.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.valuntaries,.volunteers,.entities
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #fed136;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.voluntaries-p,.volunteers-p,.entities-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}