<!-- Masthead -->
<header class="mastheadbg">
  <div class="container">
      <div class="mastheadbg-subheading">Bem vindo ao sistema de voluntariados do IPS!</div>
      <div class="mastheadbg-heading text-uppercase">Começa a dar atenção ao teu currículo!</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" [routerLink]="['/volunteeringJobs']">Voluntariados</a>
      
      <a *ngIf="isAdmin" class="btn btn-primary btn-xl ml-3 text-uppercase js-scroll-trigger" [routerLink]="['/statsAdmin']">Estatísticas</a>
  </div>
</header>
<!-- Registers -->
<section *ngIf="!userService.loggedIn()" class="page-section" id="Registers">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Regista-te</h2>
          <h3 class="section-subheading text-muted">Tens duas opções de registo. Regista-te conforme o teu objetivo.</h3>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <span class="fa-stack fa-4x m-b-20"><img class="img-fluid d-block mx-auto" src="../../../assets/images/icons/registerIcon.png" alt="" /></span>
              <h4 class="my-3">Sou Um Voluntário</h4>
              <p class="text-muted">Pretendes voluntariar-te? Clica no botão abaixo e regista-te como um voluntário!</p>
              <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" routerLink="/register">Sou um voluntário</a>
          </div>
          <div class="verticalLine"></div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x m-b-20"><img class="img-fluid d-block mx-auto" src="../../../assets/images/icons/registerIcon.png" alt="" /></span>
              <h4 class="my-3">Sou Uma Entidade</h4>
              <p class="text-muted">Pretendes propor um voluntariado? Clica no botão abaixo e regista-te como uma entidade!</p>
              <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" routerLink="/registerEntidade">Sou uma entidade</a>
          </div>
      </div>
  </div>
</section>
<!-- Proposta (Entidade) -->
<section class="page-section" *ngIf="isEntity">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Propostas</h2>
            <h3 class="section-subheading text-muted">Gere as tuas propostas.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x m-b-20"><img class="img-fluid d-block mx-auto" src="../../../assets/images/icons/proposals.png" alt="" /></span>
                <h4 class="my-3">Proponha o seu voluntariado</h4>
                <p class="text-muted">Proponha um voluntariado! Nós iremos validá-lo para que seja publicado no nosso sistema!</p>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" routerLink="/proposalForm">Criar Proposta</a>
            </div>
            <div class="verticalLine"></div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x m-b-20"><img class="img-fluid d-block mx-auto" src="../../../assets/images/icons/proposals.png" alt="" /></span>
                <h4 class="my-3">Gestão das minhas Propostas</h4>
                <p class="text-muted">Aqui, pode visualizar e gerir as propostas das quais é responsável</p>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" routerLink="/myProposals">Minhas Propostas</a>
            </div>
        </div>
    </div>
</section>

<!-- Validar Propostas (Gestor) -->
<section class="page-section" *ngIf="isAdmin">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h2 class="section-heading text-uppercase">Validar Propostas</h2>
                <h3 class="section-subheading text-muted">Valida as propostas das entidades.</h3>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" routerLink="/adminProposals">Validar Propostas</a>
            </div>
            <div class="verticalLine"></div>
            <div class="col-md-4">
                <h2 class="section-heading text-uppercase">Criar Voluntariado</h2>
                <h3 class="section-subheading text-muted">Cria um voluntariado sem passar pelo processo de proposta.</h3>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" routerLink="/voluntaryForm">Criar Voluntariado</a>
            </div>
        </div>
    </div>
</section>

<!-- Counters -->
<div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="valuntaries">
                    <p class="counter-count">{{voluntaryCounter}}</p>
                    <p class="voluntaries-p">Voluntariados</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="volunteers">
                    <p class="counter-count">{{volunteerCounter}}</p>
                    <p class="volunteers-p">Voluntários</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="entities">
                    <p class="counter-count">{{entityCounter}}</p>
                    <p class="entities-p">Entidades</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- IPS Sites -->
<section class="py-5 last-section">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 my-3">
              <a href="https://www.ips.pt/ips_si/web_page.inicial"><img class="img-fluid d-block mx-auto" src="../../../assets/images/logos/ips_logo.png" alt="" /></a>
          </div>
          <div class="col-md-3 col-sm-6 my-3">
              <a href="http://aaips.pt/"><img class="img-fluid d-block mx-auto" src="../../../assets/images/logos/aaips_logo.jpg" alt="" /></a>
          </div>
      </div>
  </div>
</section>
<script>
    $('.counter-count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 5000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>