<!--Section: Contact v.1-->
<section class="section pb-5 page-section">
    <!--Section heading-->
    <div class="row" style="margin-top: -100px; width: 95%; margin-left: 2.5%;">
        <!--Grid column-->
        <div class="col-lg-5 mb-4">
            <!--Form with header-->
            <div class="card-body">
                <!--Header-->
                <div class="form-header blue accent-1" style="margin-top: 80px;"> <!--Nome do voluntariado-->
                    <h1 class="display-4" style="color: #F1D204;"> {{voluntary.voluntaryName}}</h1>
                </div>
                <br>
                <!--Body-->
                <div *ngIf="voluntary.description" class="md-form"> <!--Descrição-->
                    <p> {{voluntary.description}}</p>
                </div>
                <div *ngIf="voluntary.activityDescription" class="md-form"> <!--Descrição da atividade-->
                    <p> {{voluntary.activityDescription}}</p>
                </div>
                <div class="md-form"> <!--Áreas-->
                    <ul class="list-unstyled">
                        <li><h4 style="color: #6A4D8A;">Áreas</h4>
                            <ul *ngFor="let a of areas; let i = index" [attr.data-index]="i">
                                <li>{{a}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div *ngIf="voluntary.goals" class="md-form"> <!--Objetivos-->
                    <h4 style="color: #6A4D8A;">Objetivos:</h4><p> {{voluntary.goals}}</p>
                </div>
                <div *ngIf="voluntary.targetAudience" class="md-form"> <!--Público alvo-->
                    <h4 style="color: #6A4D8A;">Público Alvo:</h4><p> {{voluntary.targetAudience}}</p>
                </div>
                <div *ngIf="voluntary.specificTraining" ngIfclass="md-form"> <!--Treino específico-->
                    <h4 style="color: #6A4D8A;">Treino específico:</h4><p> {{voluntary.specificTraining}}</p>
                </div>
                <div *ngIf="voluntary.observations" class="md-form"> <!--Observações-->
                    <h4 style="color: #6A4D8A;">Observações:</h4><p> {{voluntary.observations}}</p>
                </div>
            </div>
            <!--Form with header-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-7">
            <!--Google map-->
            <div id="map" class="z-depth-1-half map-container-6" style="height: 400px; margin-top: 165px;">
                <iframe src="" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <br>
            <!--Buttons-->
            <div class="row text-center">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-circle btn-xl"><span class="lnr lnr-map-marker"></span></button>
                    <p>{{voluntary.address}}</p>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-circle btn-xl"><span class="lnr lnr-calendar-full"></span></button>
                    <p>{{date}}</p>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-circle btn-xl" [routerLink]="['/profile', voluntary.entity.user._id]"><span class="lnr lnr-envelope"></span></button>
                    <p>{{voluntary.entity.user.email}}</p>
                </div>
            </div>
        </div>
        <!--Grid column-->
    </div>
    <app-involved-voluntaries></app-involved-voluntaries>
</section>
<!--Section: Contact v.1-->