<mat-form-field floatLabel="never">
  <mat-label class="">Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<div class="mat-elevation-z8 full-width-table">
  <table mat-table class="data-table" matSort aria-label="Elements">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Nome</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Descrição</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Data</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <ng-container matColumnDef="approval">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Estado</th>
      <td mat-cell *matCellDef="let row">{{row.state}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Ações</th>
      <td mat-cell *matCellDef="let row"><button class="btn btn-primary edit-button" (click)="onEdit(row)">Editar</button></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header"></th>
      <td mat-cell *matCellDef="let row"><button class="btn btn-danger" (click)="onClickDeleteButton(row.id, row.name)">Apagar</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 15]">
  </mat-paginator>
</div>
