<!-- Navigation-->
<nav class="navbar navbar-expand-lg fixed-top navbar-shrink" id="mainNav">
    <div class="container">
        <a class="navbar-brand" id="navbar_brand" [routerLink]="['/']">Voluntariados IPS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu</button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/volunteeringJobs']">Voluntariados</a></li>
                <li *ngIf="userService.loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/usersList']">Utilizadores</a></li>
            </ul>
            <ul class="navbar-nav text-uppercase ml-auto">
                <li *ngIf="!userService.loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
                <li *ngIf="!userService.loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/registerChoice']">Registo</a></li>
                <li *ngIf="userService.loggedIn()"  class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <button *ngIf="notificationCounter > 0" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                            <mat-icon matBadgeColor="warn" matBadge="{{notificationCounter}}" matBadgePosition="above after">
                                <span class="lnr lnr-alarm" style="color: white;"></span>
                            </mat-icon>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="notifButton" *ngFor="let notification of notificationsList" 
                                value="{{notification._id}}" (click)="openNotification(notification._id)" ngbDropdownItem>{{notification.text}}</button>
                        </div>
                    </div>
                </li>
                <li *ngIf="userService.loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/profile']">Perfil</a></li>
                <li *ngIf="userService.loggedIn()" class="nav-item"><a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>