/* ---------------------------------
1. COMMONS FOR PAGE DESIGN
--------------------------------- */
body h1, h2, h3, h4, h5, h6, b{
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li, p {
	color: #545454;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section{ padding: 100px 0 50px; }

.section .heading{ margin-bottom: 60px; }

.section .heading:before{ content:''; height: 10px; width: 50px; border-radius: 5px;
	margin-bottom: 20px; display: block; background: #222f36; }
	
.margin-t-10{ margin-top: 10px; }

.margin-b-30{ margin-bottom: 30px; }
.margin-b-50{ margin-bottom: 50px; }

.margin-tb-30{ margin-top: 30px; margin-bottom: 30px; }

.profile {
	height: 200px; width: 200px; border-radius: 100px; margin: 0 auto; 
	overflow: hidden; position: relative; top: -100px; margin-bottom: -60px;
  	}
.profile:hover .overlay {
	background-color: rgba(0, 0, 0, 0.5);
}
.profile:hover .overlay p {
	display: block;
}
.profile img {
	display: block;
	width: 100%;
	border-radius: 50%;
	height: auto;
}
.profile .overlay {
	position: absolute;
	width: 100%;
	bottom: 0;
	overflow: hidden;
	height: 100%;
	border-radius: 50%;
}
.profile .overlay input {
	width: 100%;
	position: absolute;
	opacity: 0;
	bottom: 20px;
	z-index: 2;
	cursor: pointer;
}
.profile .overlay p {
	position: absolute;
	bottom: 10px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	width: 100%;
	display: none;
}

/* ---------------------------------
4. INTRO SECTION
--------------------------------- */

.intro-section{ padding-top: 100px; position: relative; background-size: cover; 
	z-index: 1;background-color: #222f36; }

.intro-section:before{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0; 
	right: 0; background: rgba(0,0,0, .2); }
	
.intro-section:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
	height: 100px; z-index: -1; background: #fff; }

.intro{ padding: 0 20px; margin-top: 50px; text-align: center; background: #fff; }

.intro .profile-img{ height: 200px; width: 200px; border-radius: 100px; margin: 0 auto; 
	overflow: hidden; position: relative; top: -100px; margin-bottom: -60px;  }

.intro .information > li{ display: block; margin: 5px 0; }



/* ---------------------------------
6. PORFOLIO SECTION
--------------------------------- */

.portfolio-section{ position: relative; }

.portfolio-section .portfolioFilter{ margin-top: 60px; color: #545454; }

.portfolio-section .portfolioFilter a{ margin: 10px 10px 0 0; }

.portfolio-section .portfolioFilter a.current{ color: #222f36; }

.portfolio-section .portfolioContainer{ margin-left: -15px; margin-right: -15px; }

.portfolio-section .p-item{ width: 25%; padding: 0 7.5px 0px; margin-top: 15px; }

.portfolio-section .p-item a{ display: inline-block; position: relative; }

.img-frame{
	height: 300px;
	width: 300px;
}

@media (min-width: 576px) {
	.main {
		margin-bottom: 25%;
	}
}

@media (min-width: 768px) {
	.main {
	  margin-bottom: 20%;
	}
}

@media (min-width: 992px) {
	.main {
	  margin-bottom: 10%;
	}
}