<div class="main" *ngIf="user">
  <section class="intro-section" style="margin-top: 2%">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-md-10 col-lg-8">
          <div class="intro rounded">
            <div class="profile">
              <img id="profilePhoto" src={{user.photoPath}} height= "200px" width="200px" alt="">
            </div>
            <h2><b>{{user.fullName}}</b></h2>
            <!--<h4 *ngIf="user.userType == 'volunteer'">Voluntário</h4>-->
            <br>
            <ul class="information margin-tb-50">
              <li><b>Data de Nascimento : </b>{{formatedBirthDate}}</li>
              <li><b>Email : </b>{{user.email}}</li>
              <li><b>Telemóvel : </b>{{user.phone}}</li>
              <li><b>Morada : </b>{{user.address}}</li>
            </ul>
          </div><!-- intro -->
        </div><!-- col-sm-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </section><!-- intro-section -->

  <section class="portfolio-section section" *ngIf="showPortfolioSection" style="margin-top: -50px;">
    <div class="container rounded">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <div class="heading" style="margin-bottom: -5px">
            <h3><b>{{tableTitle}}</b></h3>
            <br>
          </div>
        </div><!-- col-sm-3 -->
      </div><!-- row -->
      
      <div *ngIf="childParameters">
          <app-other-profile-voluntary-list [parameters]="childParameters"></app-other-profile-voluntary-list>
      </div>
      
      
    </div><!-- container -->
  </section><!-- portfolio-section -->
</div>