.full-width-table {
  width: 100%;
}

.data-table{
  width: 100%;
  margin: 20px auto;
}

.custom-table-header{
  background-color: #222f36;
  color: white;
}

.standard-button{
  background-color: #6a4d8a;
  border-color: #6a4d8a;
}

.input-field{
  width: 25%;
  background-color: #222f36;
  color: white
}

.filter{
  background-color: #222f36;
  color: white
}