<mat-form-field floatLabel="never">
  <mat-label class="">Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>
<br><br>
<div class="mat-elevation-z8 full-width-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="nome" class="custom-table-header">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description" class="custom-table-header">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Descrição</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 15]">
  </mat-paginator>
</div>
