<mat-form-field floatLabel="never" style="margin-bottom: -5px;">
  <mat-label class="">Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>
<div class="mat-elevation-z8 full-width-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->

    <ng-container matColumnDef="voluntaryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Nome</th>
      <td mat-cell *matCellDef="let row"><a href="{{row.profileLink}}">{{row.voluntaryName}}</a></td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Descrição</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Área</th>
      <td mat-cell *matCellDef="let row">{{row.area}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Data</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>
    
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-table-header">Tipo de Trabalho</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5]">
  </mat-paginator>
</div>
